@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --- DEFAULT BLUE THEME (Şəkildəki canlı rənglər) --- */
    --primary: 72 133 193;                /* Canlı Mavi */
    --secondary: 181 22 30;               /* Canlı Qırmızı (#b5161e) */
    --tertiary: 255 179 0;                /* Parlaq Sarı */
    --surface: 243 246 255;               /* Çox açıq mavi fon */
    --on-surface: 33 48 65;               /* Tünd mətn */
    --on-surface-variant: 78 93 111;
    --surface-container-high: 209 228 255; /* Borderlər */
    --surface-container-lowest: 255 255 255; /* Ağ kartlar */
    --primary-fixed: 131 189 253;
    --tertiary-container: 254 179 0;
}

[data-theme="pink"] {
    /* --- PREMIUM PINK THEME --- */
    --primary: 255 64 129;
    --secondary: 233 30 99;
    --tertiary: 240 98 146;
    --surface: 255 240 245;
    --on-surface: 61 0 25;
    --on-surface-variant: 136 14 79;
    --surface-container-high: 248 187 208;
    --surface-container-lowest: 255 245 248;
    --primary-fixed: 244 143 177;
    --tertiary-container: 255 128 171;
}